@media screen and (max-width: 1024px) {
    .big-circle {
        height: 40%;
    }
    .medium-circle {
        height: 30%;
    }
    .container-hero {
        height: auto;
        flex-direction: column;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .container-hero .text-main {
        width: 60%;
        height: auto;
        text-align: center;
        display: flex;
        align-items: center;
        margin-top: 60px;
    }

    .container-hero .text-main h1 {
        padding-left: 0;
        text-align: center;
    }
    
    .container-hero .container-cards {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .container-hero .container-cards .cards {
        width: 42%;
        height: auto;  
        text-align: center; 
    }

    .container-hero .container-cards .card1 img {
        width: 70%;
        max-width: 70%;
        height: auto;  
    }

    .container-hero .container-cards .card2 img {
        width: 70%;
        max-width: 70%;
        height: auto; 
    }
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .container-menu .menu ul li {
        margin-left: 10px;
    }

    .container-hero .text-main {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container-hero .text-main h1 {
        text-align: center;
        padding-left: 0;
    }

    .container-hero .container-cards {
        width: 90%;
        margin: 0 auto;
    }
    .container-hero .container-cards .card1 {
        width: 90%;
        margin: 0 auto;
    }

    .container-hero .container-cards .card2 {
        width: 90%;
        margin: 0 auto;
    }

    .container-hero .container-cards .cards .compra {
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        border: solid 1px transparent;
        border-radius: 4px;
        padding: 0.5em 1em;
        color: #ffffff;
        background-color: var(--color-firts);
        margin-bottom: 30px;
    }

    .container-hero .container-cards .cards p {
        margin-bottom: 20px;
    }

    .container-hero .container-cards .cards .compra a {
        font-size: 16px;
       
    }

    /*** pagos ***/
    
    html {
        min-height: 0;
        position: static;
        /*font-family: 'Rubik', sans-serif;*/
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .pago {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pago .container-pago {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .pago .container-pago .cuadro-pago {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        --webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        border-radius: 20px;
    }

    .pago .container-pago .cuadro-pago .product {
        width: 100%;
        height: 220px;
    }

    .pago .container-pago .cuadro-pago .container-informactions {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pago .container-pago .cuadro-pago .container-informactions input {
        display: block;
        width: 90%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid var(--color-firts);
        
    }

    .pago .container-pago .cuadro-pago .container-totalpago {
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .pago .container-pago .cuadro-pago .container-totalpago h3 {
        padding: 0 7px;
    }

    .pago .container-pago .cuadro-pago .container-totalpago .compra {
        margin-bottom: 30px;
    }

    .exit h3 {
        padding-top: 200px;
    }

    .exit picture {
        padding-bottom: 200px;
    }

    .exit picture img {
        width: 50%;
    }


    .products {
        padding-top: 500px;
        margin-bottom: 30px;
        margin-top: 60px;
    }

    .products .container-all-products .card {
        width: 100%;
        height: 400px;
        border: 1px solid var(--color-firts);
        margin-bottom: 10px;
        --webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        border-radius: 20px;
        margin-top: 30px;
    }


    .products .container-all-products .card picture p {
        margin-top: -105px;
    }

    .products .container-all-products .card picture img {
        width: 100%;
        max-width: 100%;
    }

    .coments .container-coments .cards {
        width: 50%;
        height: auto;
        text-align: center;
        margin-top: 100px;
    }

    footer {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
    }


    footer .footer h2 {
        padding: 0 20px;
    }
     
    footer .footer h2 .ph {
        display: block;
        width: 100%;
        padding-top: 10px;
    }

    /***productos***/

    .container-product .text-product {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .prod-serv .cardPro {
        flex-direction: column;
    }

    .prod-serv .cardPro:nth-child(3) {
        padding-bottom: 60px;
    }

    .prod-serv .cardPro .picture {
        width: 90%;
        margin: 0 auto;
    }

    .prod-serv .cardPro .picture img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        text-align: end;
    }

    .prod-serv .cardPro .text-cardpr {
        width: 90%;
        margin: 0 auto;
    }


    .prod-serv .cardPro .text-cardpr h2 {
        text-align: center;
    }


    .prod-serv .cardPro .text-cardpr p {
        margin-bottom: 20px;
    }

    .prod-serv .cardPro .text-cardpr .compra {
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        border: solid 1px transparent;
        border-radius: 4px;
        padding: 0.5em 1em;
        color: #ffffff;
        background-color: var(--color-firts);

    }

    .prod-serv .cardPro .text-cardpr .compra a {
        font-size: 16px;
       
    }


}