* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****Pago****/

/*html {
    min-height: 100%;
    position: relative;
}*/

.pago {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pago .container-pago {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pago .container-pago .cuadro-pago {
    width: 700px;
    height: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid var(--color-firts);
    border-radius: 5px;
}

.pago .container-pago .cuadro-pago .product {
    width: 50%;
    height: 250px;
}


.pago .container-pago .cuadro-pago .product img {
    width: 80%;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.pago .container-pago .cuadro-pago .product h3 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-firts);
}
.pago .container-pago .cuadro-pago .product p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.pago .container-pago .cuadro-pago .container-informactions {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pago .container-pago .cuadro-pago .container-informactions .informaction {
    width: 100%;
    height: auto;
    padding-top: 15px;
}

.pago .container-pago .cuadro-pago .container-informactions input {
    width: 90%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-firts);
    padding-left: 5px;
}

.pago .container-pago .cuadro-pago .container-totalpago {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pago .container-pago .cuadro-pago .container-totalpago p {
    width: 60%;
}

.pago .container-pago .cuadro-pago .container-totalpago h3 {
    width: 100%;
    font-size: 32px;
    margin-bottom: 20px;
}

.pago .container-pago .cuadro-pago .container-totalpago .compra {
    height: 40px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: var(--color-firts);
    cursor: pointer;
}

.pago .container-pago .cuadro-pago .container-totalpago .compra:hover {
    background-color: var(--color-menu);
    border: 1px solid var(--color-firts);
}

.pago .container-pago .cuadro-pago .container-totalpago .compra:hover a {
   color: var(--color-firts);
}

.pago .container-pago .cuadro-pago .container-totalpago .compra a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}